.homepage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 2px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  border-color: rgba(238, 239, 190, 0);
  border-width: 1px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("https://images.unsplash.com/photo-1542435503-956c469947f6?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDV8fHJlc3VtZXxlbnwwfHx8fDE3MDg2Njk5MjB8MA&ixlib=rb-4.0.3&w=1500");
}
.homepage-container1 {
  flex: 0 0 auto;
  width: 300px;
  height: 323px;
  display: flex;
  margin-top: 170px;
  flex-direction: column;
}
.homepage-containerbutton {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.homepage-icon {
  fill: #696969;
  width: 56px;
  height: 45px;
  align-self: center;
  margin-right: 0px;
}
.homepage-button {
  width: 182px;
  height: 70px;
  padding: 0px;
  position: relative;
  font-size: 20px;
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  font-style: normal;
  margin-top: 0px;
  text-align: justify;
  font-family: "Inter";
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  margin-right: 0px;
  padding-right: 0px;
  background-color: rgb(239, 168, 92);
}
.homepage-text {
  width: auto;
  height: auto;
  display: block;
  text-align: center;
  font-family: "Roboto";
}
.homepage-containerbutton1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.homepage-icon2 {
  fill: #696969;
  width: 56px;
  height: 45px;
  align-self: center;
}
.homepage-navlink {
  width: 182px;
  height: 70px;
  padding: 0px;
  position: relative;
  font-size: 20px;
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  font-style: normal;
  margin-top: 0px;
  text-align: justify;
  font-family: "Inter";
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  margin-right: 0px;
  padding-right: 0px;
  text-decoration: none;
  background-color: rgb(239, 168, 92);
}
.homepage-text3 {
  top: 0ts;
  left: 0px;
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  display: block;
  position: absolute;
  font-size: 20px;
  text-align: center;
  font-family: "Roboto";
}
